:root {
    --main-color-yellow: #FDB931;
    --text-color-black: #0d0d0d;
}

@font-face {
    font-family: 'avanti';
    src: url('../fonts/avanti_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 20px / 1.42 'avanti', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    color: #292929
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.wrapper {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #292929;
}

.section__title {
    text-align: center;
    text-transform: uppercase;
}

.top-side {
    padding: 25px 0 60px 0;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.logo {
    display: block;
    width: 235px;
}

.logo img {
    width: 100%;
}

.header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.phone {
    margin-right: 30px;
    text-align: right;
}

.phone__number {
    font-size: 18px;
    font-weight: bold;
}

.phone__content {
    font-size: 11px;
    color: #969696;
}

.back__call {
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #000;
    padding: 13px 20px;
    cursor: pointer;
}

.navigation {
    margin-top: -30px;
    position: relative;
}

.main__menu-list {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main__menu-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.main__menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bold;
    padding: 20px 0;
    background-color: var(--main-color-yellow);
    
}

.main__menu-link:hover {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.main__banner {
    height: 550px;
    margin-top: -35px;
    color: #fff;
    position: relative;
}

.fade-slider {
    height: 100%;
    position: relative;
}

.fade-slider__item--metal {
    background: url('../img/bg/bg1.jpg') center center / cover no-repeat;
}

.fade-slider__item--mak {
    background: url('../img/bg/bg2.jpg') center center / cover no-repeat;
}

.fade-slider__item--poly {
    background: url('../img/bg/bg3.jpg') center center / cover no-repeat;
}

.fade-slider__item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.fade-slider__item--visible {
    opacity: 1;
}

.bg-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main__banner-content {
    position: absolute;
    top: 150px;
}

.main__banner-text {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.main__banner-button-wrapper {
    margin-top: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main__banner-button {
    padding: 20px 30px;
}

.button {
    display: inline-block;
    text-align: center;
    background-color: var(--main-color-yellow);
    color: var(--text-color-black);
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgba(253, 168, 36, 1);
}

.main__banner-catalog {
    text-align: center;
}

.main__banner-catalog span {
    display: inline-block;
    margin: 0 30px;

}

.main__banner-catalog-link {
    color: #fff;
    text-decoration: underline;
}

.availability {
    padding-top: 70px;
    padding-bottom: 80px;
}
.availability__products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 55px;
}

.availability__product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 2px solid #f6f6f6;
    text-align: center;
    padding: 50px 21px;
    margin-bottom: 10px;
}

.availability__product img {
    width: 100%;
    height: 145px;
}

.availability__product-price {
    padding: 33px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.availability__product-link {
    padding: 20px 55px;
    margin-top: auto;
}

.advantages, .services {
    background-color: #f4f4f4;
    padding-top: 70px;
    padding-bottom: 78px;
}

.advantages__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.advanatages__header {
    margin-bottom: 60px;
}

.adnatage {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    border: 2px solid #fff;
    text-align: center;
    padding: 35px 40px;
    margin-bottom: 10px;
}

.adnatage:hover {
    background-color: #fff;
}

.advantage__title {
    margin-top: 35px;
    font-weight: bold;
}

.advantage__text {
    margin-top: 25px;
}

.cooperation {
    background: url('../img/bg/coop_bg.jpg') center center / cover no-repeat;
    height: 90vh;
    position: relative;
    text-align: center;
    color: #fff;
}

.cooperation__content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.cooperation__link {
    padding: 8px 20px;
}

.popular {
    padding-top: 70px;
    padding-bottom: 78px;
}

.popular__header, .services__header {
    margin-bottom: 60px;
}

.popular__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
}

.popular__product {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    border: 2px solid #f6f6f6;
    padding: 20px;
    margin-bottom: 10px;
}

.popular__product-buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
}

.services__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
}

.service {
    width: 300px;
    border: 2px solid #fff;
    padding: 50px 60px;
    margin-bottom: 10px;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.service:hover {
    background-color: #fff;
}

.service i {
    font-size: 85px;
    margin-bottom: 10px;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.service i:hover {
    color: var(--main-color-yellow)
}

.map {
    position: relative;
}

.contact__block {
    position: absolute;
    top: 50px;
    right: 0;
    width: 380px;
    background-color: #fff;
    padding: 20px;
}

.contact__header {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.contact__phone-block {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact__phones-wrapper,
.contact__address-name,
.company__email {
    margin-left: 10px;
    margin-top: -5px;
}

.contact__phone {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;

}

.contact__address, .contact__email{
    margin-top: 30px;
}

.contact__address,
.contact__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}




.footer {
    height: 200px;
    background-color: #292929;
    color: #fff;
    padding-top: 50px;
}

.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}

.footer__logo {
    width: 220px;
}

.footer__logo img {
    width: 100%;
}

.copyright {
    margin-top: 45px;
}

.phone__number--white, .phone__content--white, .back__call--white{
    color: #fff;
}

.phone__number--white {
    margin-right: 0;
}

.back__call--white {
    border-color: #fff;
}

.footer__left, .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__right {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
    z-index: 2;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 30%;
    border-radius: 0.5rem;
}
.close-button {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}

.user__name,
.user__phone {
    background: #F7F7F7;
    border: solid 1px #f7f7f7;
    border-radius: 5px;
    height: 45px;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
}

.modal__textarea {
    background: #F7F7F7;
    border: solid 1px #f7f7f7;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
}

.modal__send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.button__modal {
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
    -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.modal__conf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 7px;
}

.modeal__conf-text {
    color: #ccc;
    font-size: 11px;
    margin-left: 8px;
    line-height: 1.42;
    text-align: justify;
}

.modal__conf-link {
    text-decoration: underline;
    color: #006699;
}

@media screen and (max-width:900px) {
    .popular__wrapper,
    .services__wrapper {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .modal-content {
        width: 40%;
    }
}

@media screen and (max-width:768px) {
    .back__call {
        padding: 13px 5px;
    }

    .modal-content {
        width: 50%;
    }
}

@media screen and (max-width:576px) {
    .logo,
    .footer__logo {
        width: 150px;
    }

    .phone__content {
        font-size: 8px;
    }

    .main__banner-button {
        padding: 20px 15px;
        font-size: 14px;
    }

    .main__banner-text {
        font-size: 25px;
    }

    .main__banner-catalog {
        font-size: 11px;
    }

    .phone__number {
        font-size: 14px;
    }

    .back__call {
        font-size: 11px;
    }

    .main__menu-link {
        font-size: 11px;
    }

    .main__banner-catalog span {
        margin: 0 10px;
    }

    .availability__products {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .availability__product {
        width: 300px;
    }

    .advantages__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .adnatage {
        max-width: 300px;
    }

    .services__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .contact__block {
        padding: 30px;
        width: 260px;
        height: auto;
    }

    .contact__address, .contact__email{
        margin-top: 10px;
    }

    .modal-content {
        width: 60%;
    }
}

@media screen and (max-width:460px) {
    .logo,
    .footer__logo {
        width: 100px;
    }

    .back__call {
        padding: 5px 3px;
        font-size: 10px;
    }
    
    .phone {
        margin-right: 10px;
    }

    .main__menu-link {
        font-size: 9px;
        padding: 10px 0;
    }

    .main__banner {
        margin-top: 0;
    }

    .main__banner-button {
        padding: 10px 5px;
    }

    .main__banner-catalog span {
        margin: 0 5px;
    }

    .popular__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .contact__block {
        padding: 10px;
        width: 230px;
        height: auto;
        top: 110px;
    }

    .contact__header {
        margin-left: 25px;
    }

    .contact__header,
    .contact__phone-block {
        font-size: 15px;
    }

    .contact__address,
    .contact__email {
        font-size: 11px;
    }

    .modal-content {
        width: 80%;
    }
}

@media screen and (max-width:300px) {
    .phone__number {
        font-size: 13px;
    }
}